<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Home - Terminally Latté</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu|Montserrat-Black" rel = "stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/about.css" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/7e81a4b5a2.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../static/images/bg.jpg');">
  <div class="top">
          <a href = "index.html">
              <img src="../static/images/Terminally Latté.png" class= "img_size">
            </a>
          <div class="nav">
              <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="beverages.html">Beverages</a></li>
                  <li><a href="savory.html">Savory Foods</a></li>
                  <li><a href="sweet.html">Sweet Foods</a></li>
                  <li><a href="about.html">About</a></li>
              </ul>
          </div>
  </div>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="text-center cta-inner rounded">
                        <h2 class="section-heading mb-5 about-us"><span class="section-heading-lower">About Us</span></h2>
                        <div class="history"> <p>We are a black owned business run by college students with a dream of putting a smile on everyone's faces one cup of drink<strong>(non-alcoholic)</strong> and one food item at a time. We use naturally sourced ingredients and pay attention to dietary choices. Our owners are Adebola, Farouk, Jonathan.</p>
                        <p>Our coffee beans are imported directly from Columbia, where almost 15% of the world’s coffee beans come from. All ingredients of animal origin used on our menu are directly purchased from free range farms.</p>
                         </div>
                        <div class="btm">
                          <p class="address mb-5" id="location"><em>2251 Sherman Ave NW<span><br/>Washington, DC</span></em></p>
                          <p class="address mb-5" id="contact"><em>Call Anytime</em><span><br />(443) 509-8468</span></p>
                        </div>
                        <div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.1607447714528!2d-77.02639878462628!3d38.92030327956699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7e49cb01baf%3A0x79650a03833d572b!2s2251%20Sherman%20Ave%20NW%2C%20Washington%2C%20DC%2020001!5e0!3m2!1sen!2sus!4v1644780402737!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center footer text-faded py-5">
        <div class="container">
            <p class="m-0 small" id = "text">Copyright © Terminally Latté 2022</p>
        </div>
    </footer>
</body>

</html>