<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Home - Terminally Latté</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu|Montserrat-Black" rel = "stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/7e81a4b5a2.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../static/images/bg.jpg');">
  <div class="top">
          <a href = "/index">
              <img src= '../static/images/Terminally Latté.png' class= "img_size"></img>
            </a>
            <div class="nav">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/beverages">Beverages</a></li>
                    <li><a href="/savory">Savory Foods</a></li>
                    <li><a href="/sweet">Sweet Foods</a></li>
                    <li class="nav-item dropdown">
                      <div class="dropdown">
                          <button onclick="myFunction()" class="dropbtn">Other</button>
                          <div id="myDropdown" class="dropdown-content">
                            <a href="/trivia">Trivia</a>
                            <a href="/general_review">General Review</a>
                            <a href="/item_review">Item Review</a>
                          </div>
                        </div>
                    <li><a href="/about">About</a></li>
                        <script>
                          function myFunction() {
                            document.getElementById("myDropdown").classList.toggle("show");
                          }
                          window.onclick = function(event) {
                            if (!event.target.matches('.dropbtn')) {
                              var dropdowns = document.getElementsByClassName("dropdown-content");
                              var i;
                              for (i = 0; i < dropdowns.length; i++) {
                                var openDropdown = dropdowns[i];
                                if (openDropdown.classList.contains('show')) {
                                  openDropdown.classList.remove('show');
                                }
                              }
                            }
                          }
                          </script>
                  </li>
                </ul>
            </div>
  </div>
<div>
</section>
</div>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="text-center cta-inner rounded">
                        <h2 class="section-heading mb-5"><span class="section-heading-upper">Thank you For Deciding to Leave a General Review!</span><span class="section-heading-lower">Please Fill out the Information Below</span></h2>
                        <form method="post" action="/general_review">
                            <div>
                              <h3>Name</h3><input type="text" name="name" placeholder="Name" required/>
                              </div>
                            <div>
                              <h3>Phone Number</h3>
                              <input type="text" name="phoneNumber" placeholder="Phone Number" max_length="10" required />
                              </div>
                            <div>
                              <div>
                                <h3>Email</h3>                  
                              <input type="text" name="email" placeholder="Email" required/>
                            </div>
                            <h2>Enter a number from 1 to 5, 1 being the lowest and 5 being the highest.</h2> 
                              <div>
                                <h3>Cleaniness Grade</h3>  
                            <input type="number" id="quantity" name="cleaninessGrade" min="1" max="5"/>               
                            </div>
                              <div>
                                <h3>Server Grade</h3>
                              <input type="number" id="quantity" name="serverGrade" min="1" max="5"/>
                            </div>
                            <div>
                                <h3>Treatment Grade</h3>
                                <input type="number" id="quantity" name="treatmentGrade" min="1" max="5"/>
                            </div>
                              <input type="submit" value="Submit"/>
                            </form>
                        <p class="address mb-5"><em><strong>2251 Sherman Ave NW</strong><span><br />Washington, DC</span></em></p>
                        <p class="address mb-0"><small><em>Call Anytime</em></small><span><br />(443) 509-8468</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center footer text-faded py-5">
        <div class="container">
            <p class="m-0 small" id = "text">Copyright © Terminally Latté 2022</p>
        </div>
    </footer>
</body>

</html>
